.landing-image {    
    padding: 160px 20px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/bg.jpg);
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .landing-image {
        padding: 100px 22px;
    }
}

.search-box {    
    max-width: 600px;
    margin:auto;
}

.city-container{
    text-align: center;
    margin-top:55px;
}

.city img {
    height: 110px;
    width: 110px;    
}

.city {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: rgba(36, 31, 31, 0.3) 0px 2px 5px 0px;
    display: inline-block;
    transition: all 100ms ease-in-out;
}

.city:focus,
.city:hover {
    box-shadow: rgba(36, 31, 31, 0.3) 0px 5px 10px 0px;
}