# Docker data
.docker/
mysql_data/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
Thumbs.db
EHthumbs.db
Desktop.ini
.DS_Store

# Logs
*.log

# Environment variables
.env
